[project]
name = "example"

[source]
main = "docs/main.loom"

[tangle]
output = "src"

[export.html]
output = "dist/index.html"
theme = "modern"

[export.pdf]
output = "dist/main.pdf"
theme = "modern"
